.search-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	border-radius: 1.5rem;
	background-color: var(--dark-main-color);
	cursor: pointer;
}

.content {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.content img {
	width: 5rem;
}

.city-time {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.city-name {
	font-size: 2rem;
	font-weight: 500;
	color: var(--white-color);
}

.time {
	font-size: 1.3rem;
	color: var(--gray-color);
}

.temperature {
	font-size: 2.5rem;
	color: var(--white-color);
}
